bplist00Ò^FormDefinition]PDFDefinition_\<?xml version="1.0" encoding="UTF-8"?>
<Form ID="611967" Name="Billing and Shipping Information" Version="1" ImageID="" AllowEmail="2" Username="diego_builder@gocanvas.com" Status="published" ShowMenu="0"  MobileBuilderEnabled="false"  RemRecall="1" Editable="3" ParentID="611967" WorkflowId="" CompressionQuality="80" CompressionDimension="800">
  <Section ID="5833795" Name="Billing and Shipping Information" Type="0">
    <Sheet ID="6008117" Name="Billing and Shipping Information" Type="1" MultiSec="-1" AllowDuplicate="false" DisplayEntryID="" Style="0">
      <Entry ID="40652277" Label="Shipping Address" Length="" Min="" Max="" Default="" Required="false" Type="0" ReceiptLabel="" Mask="" SourceEntryId=""  RefDataID="" RefDataCol="" RefEntryID="" ReadOnly="false" Visible="true" Style="0" GPSTimeout="0" GPSAccuracy="0" GPSAccuracyRequired="" BarcodeEnabled="false" Guid = "FFEDFA5AFAFC2A3F2B2083E002FF2BEEF58E90DC">
      </Entry>
      <Entry ID="40652278" Label="Shipping Address 2" Length="" Min="" Max="" Default="" Required="false" Type="0" ReceiptLabel="" Mask="" SourceEntryId=""  RefDataID="" RefDataCol="" RefEntryID="" ReadOnly="false" Visible="true" Style="0" GPSTimeout="0" GPSAccuracy="0" GPSAccuracyRequired="" BarcodeEnabled="false" Guid = "C6A5D001A595BA64B5DB286911A5E83B6CBA4CCA">
      </Entry>
      <Entry ID="40652279" Label="Shipping City" Length="" Min="" Max="" Default="" Required="false" Type="0" ReceiptLabel="" Mask="" SourceEntryId=""  RefDataID="" RefDataCol="" RefEntryID="" ReadOnly="false" Visible="true" Style="0" GPSTimeout="0" GPSAccuracy="0" GPSAccuracyRequired="" BarcodeEnabled="false" Guid = "7D4984B2A0963ACD8BA673A3CEBBC728749D34B0">
      </Entry>
      <Entry ID="40652280" Label="Shipping State" Length="" Min="" Max="" Default="" Required="false" Type="0" ReceiptLabel="" Mask="" SourceEntryId=""  RefDataID="" RefDataCol="" RefEntryID="" ReadOnly="false" Visible="true" Style="0" GPSTimeout="0" GPSAccuracy="0" GPSAccuracyRequired="" BarcodeEnabled="false" Guid = "56AF5E9D6C4BAF9669836973317D683AD597877B">
      </Entry>
      <Entry ID="40652281" Label="Shipping Zip" Length="" Min="" Max="" Default="" Required="false" Type="0" ReceiptLabel="" Mask="" SourceEntryId=""  RefDataID="" RefDataCol="" RefEntryID="" ReadOnly="false" Visible="true" Style="0" GPSTimeout="0" GPSAccuracy="0" GPSAccuracyRequired="" BarcodeEnabled="false" Guid = "FEC1BFFE310F367F675759D25881257814FB96DA">
      </Entry>
      <Entry ID="40652282" Label="Billing Address" Length="" Min="" Max="" Default="" Required="false" Type="0" ReceiptLabel="" Mask="" SourceEntryId=""  RefDataID="" RefDataCol="" RefEntryID="" ReadOnly="false" Visible="true" Style="0" GPSTimeout="0" GPSAccuracy="0" GPSAccuracyRequired="" BarcodeEnabled="false" Guid = "A81D9D3E677FF41BF01B675D13969105CFF2CD1E">
      </Entry>
      <Entry ID="40652283" Label="Billing Address 2" Length="" Min="" Max="" Default="" Required="false" Type="0" ReceiptLabel="" Mask="" SourceEntryId=""  RefDataID="" RefDataCol="" RefEntryID="" ReadOnly="false" Visible="true" Style="0" GPSTimeout="0" GPSAccuracy="0" GPSAccuracyRequired="" BarcodeEnabled="false" Guid = "94B16BD371745D7C7E31339DA1B08ABBE866AC4A">
      </Entry>
      <Entry ID="40652284" Label="Billing City" Length="" Min="" Max="" Default="" Required="false" Type="0" ReceiptLabel="" Mask="" SourceEntryId=""  RefDataID="" RefDataCol="" RefEntryID="" ReadOnly="false" Visible="true" Style="0" GPSTimeout="0" GPSAccuracy="0" GPSAccuracyRequired="" BarcodeEnabled="false" Guid = "9CADAF562BE361A7559621161FEE6DFBD7ED23F9">
      </Entry>
      <Entry ID="40652285" Label="Billing State" Length="" Min="" Max="" Default="" Required="false" Type="0" ReceiptLabel="" Mask="" SourceEntryId=""  RefDataID="" RefDataCol="" RefEntryID="" ReadOnly="false" Visible="true" Style="0" GPSTimeout="0" GPSAccuracy="0" GPSAccuracyRequired="" BarcodeEnabled="false" Guid = "E19041C62E41849D53D752E2BE407185D8B6CD02">
      </Entry>
      <Entry ID="40652286" Label="Billing Zip" Length="" Min="" Max="" Default="" Required="false" Type="0" ReceiptLabel="" Mask="" SourceEntryId=""  RefDataID="" RefDataCol="" RefEntryID="" ReadOnly="false" Visible="true" Style="0" GPSTimeout="0" GPSAccuracy="0" GPSAccuracyRequired="" BarcodeEnabled="false" Guid = "057BF589F67C8FCCBCB0960A6FB70F3389E4D0C7">
      </Entry>
    </Sheet>
  </Section>
  <Departments>

  </Departments>
  <Folders>
  </Folders>
</Form>
_I{
	"id": 6741,
	"form_id": 611967,
	"orientation": "Portrait",
	"creator_id": 3478,
	"size": "us-letter",
	"top_margin": 2,
	"right_margin": 2,
	"left_margin": 2,
	"bottom_margin": 2,
	"components": {
		"pages": [
			{
				"type": "PdfTemplatePage",
				"page_number": 1,
				"sections": [
					{
						"id": 139976,
						"width": 100,
						"selected": false,
						"columns": [
							{
								"id": 291795,
								"style": {
									"width": 100,
									"padding": {
										"top": "8",
										"right": "8",
										"bottom": "8",
										"left": "8"
									},
									"borders": {
										"direction": {
											"left": false,
											"top": false,
											"right": false,
											"bottom": false
										},
										"color": "#000000",
										"style": "solid",
										"width": "1"
									}
								},
								"resized": false,
								"modified": false,
								"width_lended": 0,
								"fields": [
									{
										"id": 1131358,
										"entry_type_id": 9999,
										"text": "Billing and Shipping Information",
										"entry_guid": null,
										"entry_id": null,
										"properties": {
											"pdfsection_screen_entry_guid": "FFEDFA5AFAFC2A3F2B2083E002FF2BEEF58E90DC",
											"useGlobalProperty": true,
											"globalStyle": {
												"general": {
													"font_family": "Arial",
													"text_color": "#000000",
													"text_size": "12",
													"vertical_spacing": "1"
												},
												"fields": {
													"borders": {
														"left": false,
														"top": false,
														"right": false,
														"bottom": false
													},
													"show_label": true,
													"line_height": "143%"
												}
											},
											"localStyle": {
												"bg_color": "#ffffff",
												"font_style": "normal",
												"font_weight": "bold",
												"text_decoration": "none",
												"text_align": "left"
											}
										}
									}
								]
							}
						],
						"properties": {}
					},
					{
						"id": 139977,
						"width": 100,
						"selected": false,
						"columns": [
							{
								"id": 291796,
								"style": {
									"width": 30.461,
									"padding": {
										"top": "8",
										"right": "8",
										"bottom": "8",
										"left": "8"
									},
									"borders": {
										"direction": {
											"left": false,
											"top": false,
											"right": false,
											"bottom": false
										},
										"color": "#000000",
										"style": "solid",
										"width": "1"
									}
								},
								"resized": true,
								"modified": false,
								"width_lended": 0,
								"fields": [
									{
										"id": 1131359,
										"entry_type_id": 0,
										"text": "Shipping Address",
										"entry_guid": "FFEDFA5AFAFC2A3F2B2083E002FF2BEEF58E90DC",
										"entry_id": 40652277,
										"properties": {
											"useGlobalProperty": true,
											"globalStyle": {},
											"localStyle": {}
										}
									},
									{
										"id": 1131362,
										"entry_type_id": 0,
										"text": "Billing Address",
										"entry_guid": "A81D9D3E677FF41BF01B675D13969105CFF2CD1E",
										"entry_id": 40652282,
										"properties": {
											"useGlobalProperty": true,
											"globalStyle": {},
											"localStyle": {}
										}
									}
								]
							},
							{
								"id": 291797,
								"style": {
									"width": 20.195,
									"padding": {
										"top": "8",
										"right": "8",
										"bottom": "8",
										"left": "8"
									},
									"borders": {
										"direction": {
											"left": false,
											"top": false,
											"right": false,
											"bottom": false
										},
										"color": "#000000",
										"style": "solid",
										"width": "1"
									}
								},
								"resized": true,
								"modified": false,
								"width_lended": 0,
								"fields": [
									{
										"id": 1131365,
										"entry_type_id": 0,
										"text": "Shipping Address 2",
										"entry_guid": "C6A5D001A595BA64B5DB286911A5E83B6CBA4CCA",
										"entry_id": 40652278,
										"properties": {
											"useGlobalProperty": true,
											"globalStyle": {},
											"localStyle": {}
										}
									},
									{
										"id": 1131368,
										"entry_type_id": 0,
										"text": "Billing Address 2",
										"entry_guid": "94B16BD371745D7C7E31339DA1B08ABBE866AC4A",
										"entry_id": 40652283,
										"properties": {
											"useGlobalProperty": true,
											"globalStyle": {},
											"localStyle": {}
										}
									}
								]
							},
							{
								"id": 291798,
								"style": {
									"width": 18.697,
									"padding": {
										"top": "8",
										"right": "8",
										"bottom": "8",
										"left": "8"
									},
									"borders": {
										"direction": {
											"left": false,
											"top": false,
											"right": false,
											"bottom": false
										},
										"color": "#000000",
										"style": "solid",
										"width": "1"
									}
								},
								"resized": true,
								"modified": false,
								"width_lended": 0,
								"fields": [
									{
										"id": 1131371,
										"entry_type_id": 0,
										"text": "Shipping City",
										"entry_guid": "7D4984B2A0963ACD8BA673A3CEBBC728749D34B0",
										"entry_id": 40652279,
										"properties": {
											"useGlobalProperty": true,
											"globalStyle": {},
											"localStyle": {}
										}
									},
									{
										"id": 1131374,
										"entry_type_id": 0,
										"text": "Billing City",
										"entry_guid": "9CADAF562BE361A7559621161FEE6DFBD7ED23F9",
										"entry_id": 40652284,
										"properties": {
											"useGlobalProperty": true,
											"globalStyle": {},
											"localStyle": {}
										}
									}
								]
							},
							{
								"id": 291799,
								"style": {
									"width": 15.857,
									"padding": {
										"top": "8",
										"right": "8",
										"bottom": "8",
										"left": "8"
									},
									"borders": {
										"direction": {
											"left": false,
											"top": false,
											"right": false,
											"bottom": false
										},
										"color": "#000000",
										"style": "solid",
										"width": "1"
									}
								},
								"resized": true,
								"modified": false,
								"width_lended": 0,
								"fields": [
									{
										"id": 1131377,
										"entry_type_id": 0,
										"text": "Shipping State",
										"entry_guid": "56AF5E9D6C4BAF9669836973317D683AD597877B",
										"entry_id": 40652280,
										"properties": {
											"useGlobalProperty": true,
											"globalStyle": {},
											"localStyle": {}
										}
									},
									{
										"id": 1131380,
										"entry_type_id": 0,
										"text": "Billing State",
										"entry_guid": "E19041C62E41849D53D752E2BE407185D8B6CD02",
										"entry_id": 40652285,
										"properties": {
											"useGlobalProperty": true,
											"globalStyle": {},
											"localStyle": {}
										}
									}
								]
							},
							{
								"id": 291800,
								"style": {
									"width": 14.79,
									"padding": {
										"top": "8",
										"right": "8",
										"bottom": "8",
										"left": "8"
									},
									"borders": {
										"direction": {
											"left": false,
											"top": false,
											"right": false,
											"bottom": false
										},
										"color": "#000000",
										"style": "solid",
										"width": "1"
									}
								},
								"resized": false,
								"modified": false,
								"width_lended": 0,
								"fields": [
									{
										"id": 1131383,
										"entry_type_id": 0,
										"text": "Shipping Zip",
										"entry_guid": "FEC1BFFE310F367F675759D25881257814FB96DA",
										"entry_id": 40652281,
										"properties": {
											"useGlobalProperty": true,
											"globalStyle": {},
											"localStyle": {}
										}
									},
									{
										"id": 1131386,
										"entry_type_id": 0,
										"text": "Billing Zip",
										"entry_guid": "057BF589F67C8FCCBCB0960A6FB70F3389E4D0C7",
										"entry_id": 40652286,
										"properties": {
											"useGlobalProperty": true,
											"globalStyle": {},
											"localStyle": {}
										}
									}
								]
							}
						],
						"properties": {}
					}
				]
			}
		],
		"headers": [
			{
				"type": "PdfTemplateHeader",
				"page_number": null,
				"sections": [
					{
						"id": 139975,
						"width": 100,
						"selected": false,
						"columns": [
							{
								"id": 291792,
								"style": {
									"width": 18.97,
									"padding": {
										"top": "8",
										"right": "8",
										"bottom": "8",
										"left": "8"
									},
									"borders": {
										"direction": {
											"left": false,
											"top": false,
											"right": false,
											"bottom": false
										},
										"color": "#000000",
										"style": "solid",
										"width": "1"
									}
								},
								"resized": false,
								"modified": false,
								"width_lended": 0,
								"fields": [
									{
										"id": 1131352,
										"entry_type_id": 9997,
										"text": null,
										"entry_guid": null,
										"entry_id": null,
										"properties": {
											"useGlobalProperty": true,
											"globalStyle": {
												"general": {
													"font_family": "Arial",
													"text_color": "#000000",
													"text_size": "12",
													"vertical_spacing": "1"
												},
												"fields": {
													"borders": {
														"left": false,
														"top": false,
														"right": false,
														"bottom": false
													},
													"show_label": true,
													"line_height": "143%"
												}
											},
											"localStyle": {}
										}
									}
								]
							},
							{
								"id": 291793,
								"style": {
									"width": 62.06,
									"padding": {
										"top": "8",
										"right": "8",
										"bottom": "8",
										"left": "8"
									},
									"borders": {
										"direction": {
											"left": false,
											"top": false,
											"right": false,
											"bottom": false
										},
										"color": "#000000",
										"style": "solid",
										"width": "1"
									}
								},
								"resized": false,
								"modified": false,
								"width_lended": 0,
								"fields": [
									{
										"id": 1131353,
										"entry_type_id": 9999,
										"text": "Company Name<div>Address</div><div>City, State 12345</div>",
										"entry_guid": null,
										"entry_id": null,
										"properties": {
											"useGlobalProperty": true,
											"globalStyle": {
												"general": {
													"font_family": "Arial",
													"text_color": "#000000",
													"text_size": "12",
													"vertical_spacing": "1"
												},
												"fields": {
													"borders": {
														"left": false,
														"top": false,
														"right": false,
														"bottom": false
													},
													"show_label": true,
													"line_height": "143%"
												}
											},
											"localStyle": {
												"text_align": "center"
											},
											"link": ""
										}
									}
								]
							},
							{
								"id": 291794,
								"style": {
									"width": 18.97,
									"padding": {
										"top": "8",
										"right": "8",
										"bottom": "8",
										"left": "8"
									},
									"borders": {
										"direction": {
											"left": false,
											"top": false,
											"right": false,
											"bottom": false
										},
										"color": "#000000",
										"style": "solid",
										"width": "1"
									}
								},
								"resized": false,
								"modified": false,
								"width_lended": 0,
								"fields": [
									{
										"id": 1131354,
										"entry_type_id": 9999,
										"text": "Billing and Shipping Information",
										"entry_guid": null,
										"entry_id": null,
										"properties": {
											"useGlobalProperty": true,
											"globalStyle": {
												"general": {
													"font_family": "Arial",
													"text_color": "#000000",
													"text_size": "12",
													"vertical_spacing": "1"
												},
												"fields": {
													"borders": {
														"left": false,
														"top": false,
														"right": false,
														"bottom": false
													},
													"show_label": true,
													"line_height": "143%"
												}
											},
											"localStyle": {
												"font_weight": "normal",
												"text_align": "right"
											}
										}
									},
									{
										"id": 1131355,
										"entry_type_id": 9995,
										"text": "No.",
										"entry_guid": null,
										"entry_id": null,
										"properties": {
											"useGlobalProperty": true,
											"globalStyle": {
												"general": {
													"font_family": "Arial",
													"text_color": "#000000",
													"text_size": "12",
													"vertical_spacing": "1"
												},
												"fields": {
													"borders": {
														"left": false,
														"top": false,
														"right": false,
														"bottom": false
													},
													"show_label": true,
													"line_height": "143%"
												}
											},
											"localStyle": {
												"font_weight": "normal",
												"text_align": "right"
											}
										}
									}
								]
							}
						],
						"properties": {
							"height": "1.25"
						}
					}
				],
				"default_data": {
					"logo_url": "/company_images/2062",
					"app_name": "Billing and Shipping Information",
					"header_info": "GoCanvas\n\n"
				}
			}
		],
		"footers": [
			{
				"type": "PdfTemplateFooter",
				"page_number": null,
				"sections": [
					{
						"id": 139978,
						"width": 100,
						"selected": false,
						"columns": [
							{
								"id": 291801,
								"style": {
									"width": 100,
									"padding": {
										"top": "8",
										"right": "8",
										"bottom": "8",
										"left": "8"
									},
									"borders": {
										"direction": {
											"left": false,
											"top": false,
											"right": false,
											"bottom": false
										},
										"color": "#000000",
										"style": "solid",
										"width": "1"
									}
								},
								"resized": false,
								"modified": false,
								"width_lended": 0,
								"fields": [
									{
										"id": 1131389,
										"entry_type_id": 9996,
										"text": "",
										"entry_guid": null,
										"entry_id": null,
										"properties": {
											"useGlobalProperty": true,
											"globalStyle": {
												"general": {
													"font_family": "Arial",
													"text_color": "#000000",
													"text_size": "12",
													"vertical_spacing": "1"
												},
												"fields": {
													"borders": {
														"left": false,
														"top": false,
														"right": false,
														"bottom": false
													},
													"show_label": true,
													"line_height": "143%"
												}
											},
											"localStyle": {
												"bg_color": "#ffffff",
												"font_style": "normal",
												"font_weight": "normal",
												"text_decoration": "none",
												"text_align": "right"
											},
											"links": [
												{
													"name": "Facebook",
													"placeholder": "Enter Facebook URL",
													"url": "",
													"isSelected": false
												},
												{
													"name": "Twitter",
													"placeholder": "Enter Twitter Handle",
													"url": "",
													"isSelected": false
												},
												{
													"name": "LinkedIn",
													"placeholder": "Enter LinkedIn URL",
													"url": "",
													"isSelected": false
												},
												{
													"name": "Angie's List",
													"placeholder": "Enter Angie's List URL",
													"url": "",
													"isSelected": false
												},
												{
													"name": "Google Reviews",
													"placeholder": "Enter Google Reviews URL",
													"url": "",
													"isSelected": false
												},
												{
													"name": "Home Advisor",
													"placeholder": "Enter Home Advisor URL",
													"url": "",
													"isSelected": false
												},
												{
													"name": "Yelp",
													"placeholder": "Enter Yelp URL",
													"url": "",
													"isSelected": false
												}
											]
										}
									}
								]
							}
						],
						"properties": {}
					}
				]
			}
		]
	},
	"global_properties": {
		"general": {
			"font_family": "Arial",
			"text_color": "#000000",
			"text_size": "12",
			"vertical_spacing": "1"
		},
		"column": {
			"padding": {
				"top": "8",
				"right": "8",
				"bottom": "8",
				"left": "8"
			},
			"borders": {
				"direction": {
					"left": false,
					"top": false,
					"right": false,
					"bottom": false
				},
				"color": "#000000",
				"style": "solid",
				"width": "1"
			},
			"bg_color": "#ffffff"
		},
		"fields": {
			"borders": {
				"left": false,
				"top": false,
				"right": false,
				"bottom": false
			},
			"show_label": true,
			"line_height": "143%"
		},
		"table": {
			"header": {
				"useGlobalProperty": true,
				"bg_color": "#6f7e91",
				"borders": {
					"left": true,
					"top": true,
					"right": true,
					"bottom": true
				},
				"padding": {
					"left": "2",
					"right": "2"
				},
				"text_align": "left",
				"general": {
					"font_family": "Arial",
					"text_color": "#000000",
					"text_size": "12",
					"vertical_spacing": "1"
				}
			},
			"rows": {
				"useGlobalProperty": true,
				"bg_color": "#ffffff",
				"padding": {
					"left": "2",
					"right": "2"
				},
				"borders": {
					"left": true,
					"top": true,
					"right": true,
					"bottom": true
				},
				"text_align": "left",
				"override_alignment": false,
				"general": {
					"font_family": "Arial",
					"text_color": "#000000",
					"text_size": "12",
					"vertical_spacing": "1"
				}
			}
		}
	}
}    *Š                           Z¢