bplist00“^FormDefinition]PDFDefinition_e<?xml version="1.0" encoding="UTF-8"?>
<Form ID="612603" Name="Time Card" Version="3" ImageID="" AllowEmail="2" Username="diego_builder@gocanvas.com" Status="published" ShowMenu="0"  MobileBuilderEnabled="false"  RemRecall="1" Editable="3" ParentID="611976" WorkflowId="" CompressionQuality="80" CompressionDimension="800">
  <Section ID="5836596" Name="Time Card" Type="0">
    <Sheet ID="6010920" Name="Time Card" Type="3" MultiSec="5836597" AllowDuplicate="false" DisplayEntryID="" Style="1">
      <Entry ID="40663946" Label="Employee Name" Length="" Min="" Max="" Default="" Required="false" Type="0" ReceiptLabel="" Mask="" SourceEntryId=""  RefDataID="" RefDataCol="" RefEntryID="" ReadOnly="false" Visible="true" Style="0" GPSTimeout="0" GPSAccuracy="0" GPSAccuracyRequired="" BarcodeEnabled="false" Guid="A2BF4BF82F00CE731A6961C410C39AEBDE14DB8F">
      </Entry>
    </Sheet>
  </Section>
  <Section ID="5836597" Name="Time Card (Detail)" Type="1">
    <Sheet ID="6010919" Name="Time Card" Type="1" MultiSec="-1" AllowDuplicate="false" DisplayEntryID="" Style="0">
      <Entry ID="40663941" Label="Description" Length="" Min="" Max="" Default="" Required="false" Type="8" ReceiptLabel="" Mask="" SourceEntryId=""  RefDataID="" RefDataCol="" RefEntryID="" ReadOnly="false" Visible="true" Style="0" GPSTimeout="0" GPSAccuracy="0" GPSAccuracyRequired="" BarcodeEnabled="false" Guid="2EB7CBCE178E4C21B22FB393FD4EECA67341F0EF">
      </Entry>
      <Entry ID="40663942" Label="Date" Length="" Min="" Max="" Default="BLANK" Required="false" Type="3" ReceiptLabel="" Mask="" SourceEntryId=""  RefDataID="" RefDataCol="" RefEntryID="" ReadOnly="false" Visible="true" Style="0" GPSTimeout="0" GPSAccuracy="0" GPSAccuracyRequired="" BarcodeEnabled="false" Guid="E6369113B415424E0907B2183FF1A3229B4B0C53">
      </Entry>
      <Entry ID="40663943" Label="Time In" Length="" Min="" Max="" Default="BLANK" Required="false" Type="4" ReceiptLabel="" Mask="" SourceEntryId=""  RefDataID="" RefDataCol="" RefEntryID="" ReadOnly="false" Visible="true" Style="1" GPSTimeout="0" GPSAccuracy="0" GPSAccuracyRequired="" BarcodeEnabled="false" Guid="C1C9A3FCEBA85F54197C143F35DF4C06BC78E00C">
      </Entry>
      <Entry ID="40663944" Label="Time Out" Length="" Min="" Max="" Default="BLANK" Required="false" Type="4" ReceiptLabel="" Mask="" SourceEntryId=""  RefDataID="" RefDataCol="" RefEntryID="" ReadOnly="false" Visible="true" Style="1" GPSTimeout="0" GPSAccuracy="0" GPSAccuracyRequired="" BarcodeEnabled="false" Guid="D3309989C65DFA4B8672EA12D16C336824927012">
      </Entry>
      <Entry ID="40663945" Label="Hours on Job" Length="" Min="" Max="" Default="" Required="false" Type="21" ReceiptLabel="" Mask="2" SourceEntryId=""  RefDataID="" RefDataCol="" RefEntryID="" ReadOnly="false" Visible="true" Style="0" GPSTimeout="0" GPSAccuracy="0" GPSAccuracyRequired="" BarcodeEnabled="false" Guid="C9C9EC8B8721F7DB4F1E574F3035DDBB9E9441C6">
        <Operator EntryId="40663944" Value="" OperationId="0"/>
        <Operator EntryId="40663943" Value="" OperationId="1"/>
      </Entry>
    </Sheet>
  </Section>
  <Departments>
    
  </Departments>
  <Folders>
  </Folders>
</Form>
_ê+{
  "id": 7521,
  "form_id": 612603,
  "orientation": "Portrait",
  "creator_id": 3478,
  "size": "us-letter",
  "top_margin": 2,
  "right_margin": 2,
  "left_margin": 2,
  "bottom_margin": 2,
  "components": {
    "pages": [{
      "type": "PdfTemplatePage",
      "page_number": 1,
      "sections": [{
        "id": 146016,
        "width": 100,
        "selected": false,
        "columns": [{
          "id": 302565,
          "style": {
            "width": 100
          },
          "resized": false,
          "modified": false,
          "width_lended": 0,
          "fields": [{
            "entry_type_id": 9998,
            "text": "Time Card",
            "value": {
              "type": "table",
              "entry_guid": "A2BF4BF82F00CE731A6961C410C39AEBDE14DB8F",
              "columns": [{
                "headerText": "Employee Name",
                "values": [{
                  "entry_type_id": 0,
                  "text": "Employee Name",
                  "entry_guid": "A2BF4BF82F00CE731A6961C410C39AEBDE14DB8F",
                  "entry_id": 40663946,
                  "properties": {
                    "pdfsection_screen_entry_guid": "2EB7CBCE178E4C21B22FB393FD4EECA67341F0EF",
                    "useGlobalProperty": false,
                    "globalStyle": {
                      "general": {
                        "font_family": "Arial",
                        "text_color": "#000000",
                        "text_size": "12",
                        "vertical_spacing": "1"
                      },
                      "column": {
                        "padding": {
                          "top": "8",
                          "right": "8",
                          "bottom": "8",
                          "left": "8"
                        },
                        "borders": {
                          "direction": {
                            "left": false,
                            "top": false,
                            "right": false,
                            "bottom": false
                          },
                          "color": "#000000",
                          "style": "solid",
                          "width": "1"
                        },
                        "bg_color": "#ffffff"
                      },
                      "fields": {
                        "borders": {
                          "left": false,
                          "top": false,
                          "right": false,
                          "bottom": false
                        },
                        "show_label": false,
                        "line_height": "143%"
                      },
                      "table": {
                        "header": {
                          "useGlobalProperty": true,
                          "bg_color": "#6f7e91",
                          "borders": {
                            "left": true,
                            "top": true,
                            "right": true,
                            "bottom": true
                          },
                          "padding": {
                            "left": "2",
                            "right": "2"
                          },
                          "text_align": "left",
                          "general": {
                            "font_family": "Arial",
                            "text_color": "#000000",
                            "text_size": "12",
                            "vertical_spacing": "1"
                          }
                        },
                        "rows": {
                          "useGlobalProperty": true,
                          "bg_color": "#ffffff",
                          "padding": {
                            "left": "2",
                            "right": "2"
                          },
                          "borders": {
                            "left": true,
                            "top": true,
                            "right": true,
                            "bottom": true
                          },
                          "text_align": "left",
                          "override_alignment": false,
                          "general": {
                            "font_family": "Arial",
                            "text_color": "#000000",
                            "text_size": "12",
                            "vertical_spacing": "1"
                          }
                        }
                      }
                    }
                  }
                }],
                "width": 131.33333333333331,
                "resized": true
              }, {
                "headerText": "Description",
                "values": [{
                  "entry_type_id": 8,
                  "text": "Description",
                  "entry_guid": "2EB7CBCE178E4C21B22FB393FD4EECA67341F0EF",
                  "entry_id": 40663941,
                  "properties": {
                    "useGlobalProperty": false,
                    "globalStyle": {
                      "general": {
                        "font_family": "Arial",
                        "text_color": "#000000",
                        "text_size": "12",
                        "vertical_spacing": "1"
                      },
                      "column": {
                        "padding": {
                          "top": "8",
                          "right": "8",
                          "bottom": "8",
                          "left": "8"
                        },
                        "borders": {
                          "direction": {
                            "left": false,
                            "top": false,
                            "right": false,
                            "bottom": false
                          },
                          "color": "#000000",
                          "style": "solid",
                          "width": "1"
                        },
                        "bg_color": "#ffffff"
                      },
                      "fields": {
                        "borders": {
                          "left": false,
                          "top": false,
                          "right": false,
                          "bottom": false
                        },
                        "show_label": false,
                        "line_height": "143%"
                      },
                      "table": {
                        "header": {
                          "useGlobalProperty": true,
                          "bg_color": "#6f7e91",
                          "borders": {
                            "left": true,
                            "top": true,
                            "right": true,
                            "bottom": true
                          },
                          "padding": {
                            "left": "2",
                            "right": "2"
                          },
                          "text_align": "left",
                          "general": {
                            "font_family": "Arial",
                            "text_color": "#000000",
                            "text_size": "12",
                            "vertical_spacing": "1"
                          }
                        },
                        "rows": {
                          "useGlobalProperty": true,
                          "bg_color": "#ffffff",
                          "padding": {
                            "left": "2",
                            "right": "2"
                          },
                          "borders": {
                            "left": true,
                            "top": true,
                            "right": true,
                            "bottom": true
                          },
                          "text_align": "left",
                          "override_alignment": false,
                          "general": {
                            "font_family": "Arial",
                            "text_color": "#000000",
                            "text_size": "12",
                            "vertical_spacing": "1"
                          }
                        }
                      }
                    }
                  }
                }],
                "width": 136.33333333333331,
                "resized": true
              }, {
                "headerText": "Date",
                "values": [{
                  "entry_type_id": 3,
                  "text": "Date",
                  "entry_guid": "E6369113B415424E0907B2183FF1A3229B4B0C53",
                  "entry_id": 40663942,
                  "properties": {
                    "useGlobalProperty": false,
                    "globalStyle": {
                      "general": {
                        "font_family": "Arial",
                        "text_color": "#000000",
                        "text_size": "12",
                        "vertical_spacing": "1"
                      },
                      "column": {
                        "padding": {
                          "top": "8",
                          "right": "8",
                          "bottom": "8",
                          "left": "8"
                        },
                        "borders": {
                          "direction": {
                            "left": false,
                            "top": false,
                            "right": false,
                            "bottom": false
                          },
                          "color": "#000000",
                          "style": "solid",
                          "width": "1"
                        },
                        "bg_color": "#ffffff"
                      },
                      "fields": {
                        "borders": {
                          "left": false,
                          "top": false,
                          "right": false,
                          "bottom": false
                        },
                        "show_label": false,
                        "line_height": "143%"
                      },
                      "table": {
                        "header": {
                          "useGlobalProperty": true,
                          "bg_color": "#6f7e91",
                          "borders": {
                            "left": true,
                            "top": true,
                            "right": true,
                            "bottom": true
                          },
                          "padding": {
                            "left": "2",
                            "right": "2"
                          },
                          "text_align": "left",
                          "general": {
                            "font_family": "Arial",
                            "text_color": "#000000",
                            "text_size": "12",
                            "vertical_spacing": "1"
                          }
                        },
                        "rows": {
                          "useGlobalProperty": true,
                          "bg_color": "#ffffff",
                          "padding": {
                            "left": "2",
                            "right": "2"
                          },
                          "borders": {
                            "left": true,
                            "top": true,
                            "right": true,
                            "bottom": true
                          },
                          "text_align": "left",
                          "override_alignment": false,
                          "general": {
                            "font_family": "Arial",
                            "text_color": "#000000",
                            "text_size": "12",
                            "vertical_spacing": "1"
                          }
                        }
                      }
                    }
                  }
                }],
                "width": 81.33333333333331,
                "resized": true
              }, {
                "headerText": "Time In",
                "values": [{
                  "entry_type_id": 4,
                  "text": "Time In",
                  "entry_guid": "C1C9A3FCEBA85F54197C143F35DF4C06BC78E00C",
                  "entry_id": 40663943,
                  "properties": {
                    "useGlobalProperty": false,
                    "globalStyle": {
                      "general": {
                        "font_family": "Arial",
                        "text_color": "#000000",
                        "text_size": "12",
                        "vertical_spacing": "1"
                      },
                      "column": {
                        "padding": {
                          "top": "8",
                          "right": "8",
                          "bottom": "8",
                          "left": "8"
                        },
                        "borders": {
                          "direction": {
                            "left": false,
                            "top": false,
                            "right": false,
                            "bottom": false
                          },
                          "color": "#000000",
                          "style": "solid",
                          "width": "1"
                        },
                        "bg_color": "#ffffff"
                      },
                      "fields": {
                        "borders": {
                          "left": false,
                          "top": false,
                          "right": false,
                          "bottom": false
                        },
                        "show_label": false,
                        "line_height": "143%"
                      },
                      "table": {
                        "header": {
                          "useGlobalProperty": true,
                          "bg_color": "#6f7e91",
                          "borders": {
                            "left": true,
                            "top": true,
                            "right": true,
                            "bottom": true
                          },
                          "padding": {
                            "left": "2",
                            "right": "2"
                          },
                          "text_align": "left",
                          "general": {
                            "font_family": "Arial",
                            "text_color": "#000000",
                            "text_size": "12",
                            "vertical_spacing": "1"
                          }
                        },
                        "rows": {
                          "useGlobalProperty": true,
                          "bg_color": "#ffffff",
                          "padding": {
                            "left": "2",
                            "right": "2"
                          },
                          "borders": {
                            "left": true,
                            "top": true,
                            "right": true,
                            "bottom": true
                          },
                          "text_align": "left",
                          "override_alignment": false,
                          "general": {
                            "font_family": "Arial",
                            "text_color": "#000000",
                            "text_size": "12",
                            "vertical_spacing": "1"
                          }
                        }
                      }
                    }
                  }
                }],
                "width": 79.33333333333331,
                "resized": true
              }, {
                "headerText": "Time Out",
                "values": [{
                  "entry_type_id": 4,
                  "text": "Time Out",
                  "entry_guid": "D3309989C65DFA4B8672EA12D16C336824927012",
                  "entry_id": 40663944,
                  "properties": {
                    "useGlobalProperty": false,
                    "globalStyle": {
                      "general": {
                        "font_family": "Arial",
                        "text_color": "#000000",
                        "text_size": "12",
                        "vertical_spacing": "1"
                      },
                      "column": {
                        "padding": {
                          "top": "8",
                          "right": "8",
                          "bottom": "8",
                          "left": "8"
                        },
                        "borders": {
                          "direction": {
                            "left": false,
                            "top": false,
                            "right": false,
                            "bottom": false
                          },
                          "color": "#000000",
                          "style": "solid",
                          "width": "1"
                        },
                        "bg_color": "#ffffff"
                      },
                      "fields": {
                        "borders": {
                          "left": false,
                          "top": false,
                          "right": false,
                          "bottom": false
                        },
                        "show_label": false,
                        "line_height": "143%"
                      },
                      "table": {
                        "header": {
                          "useGlobalProperty": true,
                          "bg_color": "#6f7e91",
                          "borders": {
                            "left": true,
                            "top": true,
                            "right": true,
                            "bottom": true
                          },
                          "padding": {
                            "left": "2",
                            "right": "2"
                          },
                          "text_align": "left",
                          "general": {
                            "font_family": "Arial",
                            "text_color": "#000000",
                            "text_size": "12",
                            "vertical_spacing": "1"
                          }
                        },
                        "rows": {
                          "useGlobalProperty": true,
                          "bg_color": "#ffffff",
                          "padding": {
                            "left": "2",
                            "right": "2"
                          },
                          "borders": {
                            "left": true,
                            "top": true,
                            "right": true,
                            "bottom": true
                          },
                          "text_align": "left",
                          "override_alignment": false,
                          "general": {
                            "font_family": "Arial",
                            "text_color": "#000000",
                            "text_size": "12",
                            "vertical_spacing": "1"
                          }
                        }
                      }
                    }
                  }
                }],
                "width": 84.33333333333333,
                "resized": true
              }, {
                "headerText": "Hours on Job",
                "values": [{
                  "entry_type_id": 21,
                  "text": "Hours on Job",
                  "entry_guid": "C9C9EC8B8721F7DB4F1E574F3035DDBB9E9441C6",
                  "entry_id": 40663945,
                  "properties": {
                    "useGlobalProperty": false,
                    "globalStyle": {
                      "general": {
                        "font_family": "Arial",
                        "text_color": "#000000",
                        "text_size": "12",
                        "vertical_spacing": "1"
                      },
                      "column": {
                        "padding": {
                          "top": "8",
                          "right": "8",
                          "bottom": "8",
                          "left": "8"
                        },
                        "borders": {
                          "direction": {
                            "left": false,
                            "top": false,
                            "right": false,
                            "bottom": false
                          },
                          "color": "#000000",
                          "style": "solid",
                          "width": "1"
                        },
                        "bg_color": "#ffffff"
                      },
                      "fields": {
                        "borders": {
                          "left": false,
                          "top": false,
                          "right": false,
                          "bottom": false
                        },
                        "show_label": false,
                        "line_height": "143%"
                      },
                      "table": {
                        "header": {
                          "useGlobalProperty": true,
                          "bg_color": "#6f7e91",
                          "borders": {
                            "left": true,
                            "top": true,
                            "right": true,
                            "bottom": true
                          },
                          "padding": {
                            "left": "2",
                            "right": "2"
                          },
                          "text_align": "left",
                          "general": {
                            "font_family": "Arial",
                            "text_color": "#000000",
                            "text_size": "12",
                            "vertical_spacing": "1"
                          }
                        },
                        "rows": {
                          "useGlobalProperty": true,
                          "bg_color": "#ffffff",
                          "padding": {
                            "left": "2",
                            "right": "2"
                          },
                          "borders": {
                            "left": true,
                            "top": true,
                            "right": true,
                            "bottom": true
                          },
                          "text_align": "left",
                          "override_alignment": false,
                          "general": {
                            "font_family": "Arial",
                            "text_color": "#000000",
                            "text_size": "12",
                            "vertical_spacing": "1"
                          }
                        }
                      }
                    }
                  }
                }],
                "width": 83.33333333333333
              }],
              "properties": {
                "response_groups": true
              }
            },
            "entry_guid": null,
            "properties": {
              "globalStyle": {
                "table": {
                  "header": {
                    "useGlobalProperty": true,
                    "bg_color": "#6f7e91",
                    "borders": {
                      "left": true,
                      "top": true,
                      "right": true,
                      "bottom": true
                    },
                    "padding": {
                      "left": "2",
                      "right": "2"
                    },
                    "text_align": "left",
                    "general": {
                      "font_family": "Arial",
                      "text_color": "#000000",
                      "text_size": "12",
                      "vertical_spacing": "1"
                    }
                  },
                  "rows": {
                    "useGlobalProperty": true,
                    "bg_color": "#ffffff",
                    "padding": {
                      "left": "2",
                      "right": "2"
                    },
                    "borders": {
                      "left": true,
                      "top": true,
                      "right": true,
                      "bottom": true
                    },
                    "text_align": "left",
                    "override_alignment": false,
                    "general": {
                      "font_family": "Arial",
                      "text_color": "#000000",
                      "text_size": "12",
                      "vertical_spacing": "1"
                    }
                  }
                }
              }
            }
          }]
        }],
        "properties": {
          "list": true
        }
      }]
    }],
    "headers": [{
      "type": "PdfTemplateHeader",
      "page_number": null,
      "sections": [{
        "id": 146015,
        "width": 100,
        "selected": false,
        "columns": [{
          "id": 302562,
          "style": {
            "width": 18.97,
            "padding": {
              "top": "8",
              "right": "8",
              "bottom": "8",
              "left": "8"
            },
            "borders": {
              "direction": {
                "left": false,
                "top": false,
                "right": false,
                "bottom": false
              },
              "color": "#000000",
              "style": "solid",
              "width": "1"
            }
          },
          "resized": false,
          "modified": false,
          "width_lended": 0,
          "fields": [{
            "id": 1181730,
            "entry_type_id": 9997,
            "text": null,
            "entry_guid": null,
            "entry_id": null,
            "properties": {
              "useGlobalProperty": true,
              "globalStyle": {
                "general": {
                  "font_family": "Arial",
                  "text_color": "#000000",
                  "text_size": "12",
                  "vertical_spacing": "1"
                },
                "fields": {
                  "borders": {
                    "left": false,
                    "top": false,
                    "right": false,
                    "bottom": false
                  },
                  "show_label": true,
                  "line_height": "143%"
                }
              },
              "localStyle": {},
              "link": ""
            }
          }]
        }, {
          "id": 302563,
          "style": {
            "width": 62.06,
            "padding": {
              "top": "8",
              "right": "8",
              "bottom": "8",
              "left": "8"
            },
            "borders": {
              "direction": {
                "left": false,
                "top": false,
                "right": false,
                "bottom": false
              },
              "color": "#000000",
              "style": "solid",
              "width": "1"
            }
          },
          "resized": false,
          "modified": false,
          "width_lended": 0,
          "fields": [{
            "id": 1181731,
            "entry_type_id": 9999,
            "text": "Company Name<div>Address</div><div>City, State 12345</div>",
            "entry_guid": null,
            "entry_id": null,
            "properties": {
              "useGlobalProperty": true,
              "globalStyle": {
                "general": {
                  "font_family": "Arial",
                  "text_color": "#000000",
                  "text_size": "12",
                  "vertical_spacing": "1"
                },
                "fields": {
                  "borders": {
                    "left": false,
                    "top": false,
                    "right": false,
                    "bottom": false
                  },
                  "show_label": true,
                  "line_height": "143%"
                }
              },
              "localStyle": {
                "text_align": "center"
              },
              "link": ""
            }
          }]
        }, {
          "id": 302564,
          "style": {
            "width": 18.97,
            "padding": {
              "top": "8",
              "right": "8",
              "bottom": "8",
              "left": "8"
            },
            "borders": {
              "direction": {
                "left": false,
                "top": false,
                "right": false,
                "bottom": false
              },
              "color": "#000000",
              "style": "solid",
              "width": "1"
            }
          },
          "resized": false,
          "modified": false,
          "width_lended": 0,
          "fields": [{
            "id": 1181732,
            "entry_type_id": 9999,
            "text": "Time Card",
            "entry_guid": null,
            "entry_id": null,
            "properties": {
              "useGlobalProperty": true,
              "globalStyle": {
                "general": {
                  "font_family": "Arial",
                  "text_color": "#000000",
                  "text_size": "12",
                  "vertical_spacing": "1"
                },
                "fields": {
                  "borders": {
                    "left": false,
                    "top": false,
                    "right": false,
                    "bottom": false
                  },
                  "show_label": true,
                  "line_height": "143%"
                }
              },
              "localStyle": {
                "font_weight": "bold",
                "text_align": "right"
              },
              "link": ""
            }
          }, {
            "id": 1181733,
            "entry_type_id": 9995,
            "text": "No.",
            "entry_guid": null,
            "entry_id": null,
            "properties": {
              "useGlobalProperty": true,
              "globalStyle": {
                "general": {
                  "font_family": "Arial",
                  "text_color": "#000000",
                  "text_size": "12",
                  "vertical_spacing": "1"
                },
                "fields": {
                  "borders": {
                    "left": false,
                    "top": false,
                    "right": false,
                    "bottom": false
                  },
                  "show_label": true,
                  "line_height": "143%"
                }
              },
              "localStyle": {
                "font_weight": "normal",
                "text_align": "right"
              }
            }
          }]
        }],
        "properties": {
          "height": "1.25"
        }
      }],
      "default_data": {
        "logo_url": "/company_images/2062",
        "app_name": "Time Card",
        "header_info": "GoCanvas\n\n"
      }
    }],
    "footers": [{
      "type": "PdfTemplateFooter",
      "page_number": null,
      "sections": [{
        "id": 146017,
        "width": 100,
        "selected": false,
        "columns": [{
          "id": 302566,
          "style": {
            "width": 100,
            "padding": {
              "top": "8",
              "right": "8",
              "bottom": "8",
              "left": "8"
            },
            "borders": {
              "direction": {
                "left": false,
                "top": false,
                "right": false,
                "bottom": false
              },
              "color": "#000000",
              "style": "solid",
              "width": "1"
            }
          },
          "resized": false,
          "modified": false,
          "width_lended": 0,
          "fields": [{
            "id": 1181757,
            "entry_type_id": 9996,
            "text": "",
            "entry_guid": null,
            "entry_id": null,
            "properties": {
              "useGlobalProperty": true,
              "globalStyle": {
                "general": {
                  "font_family": "Arial",
                  "text_color": "#000000",
                  "text_size": "12",
                  "vertical_spacing": "1"
                },
                "fields": {
                  "borders": {
                    "left": false,
                    "top": false,
                    "right": false,
                    "bottom": false
                  },
                  "show_label": true,
                  "line_height": "143%"
                }
              },
              "localStyle": {
                "bg_color": "#ffffff",
                "font_style": "normal",
                "font_weight": "normal",
                "text_decoration": "none",
                "text_align": "right"
              },
              "links": [{
                "name": "Facebook",
                "placeholder": "Enter Facebook URL",
                "url": "https://www.facebook.com/pages/Canvas/247055383245?ref=mf",
                "isSelected": false
              }, {
                "name": "Twitter",
                "placeholder": "Enter Twitter Handle",
                "url": "https://twitter.com/GoCanvas",
                "isSelected": false
              }, {
                "name": "LinkedIn",
                "placeholder": "Enter LinkedIn URL",
                "url": "https://www.linkedin.com/company/canvas",
                "isSelected": false
              }, {
                "name": "Angie's List",
                "placeholder": "Enter Angie's List URL",
                "url": "https://www.angieslist.com/",
                "isSelected": false
              }, {
                "name": "Google Reviews",
                "placeholder": "Enter Google Reviews URL",
                "url": "https://www.google.com/",
                "isSelected": false
              }, {
                "name": "Home Advisor",
                "placeholder": "Enter Home Advisor URL",
                "url": "http://www.homeadvisor.com/",
                "isSelected": false
              }, {
                "name": "Yelp",
                "placeholder": "Enter Yelp URL",
                "url": "https://www.yelp.com/",
                "isSelected": false
              }]
            }
          }]
        }],
        "properties": {}
      }]
    }]
  },
  "global_properties": {
    "general": {
      "font_family": "Arial",
      "text_color": "#000000",
      "text_size": "12",
      "vertical_spacing": "1"
    },
    "column": {
      "padding": {
        "top": "8",
        "right": "8",
        "bottom": "8",
        "left": "8"
      },
      "borders": {
        "direction": {
          "left": false,
          "top": false,
          "right": false,
          "bottom": false
        },
        "color": "#000000",
        "style": "solid",
        "width": "1"
      },
      "bg_color": "#ffffff"
    },
    "fields": {
      "borders": {
        "left": false,
        "top": false,
        "right": false,
        "bottom": false
      },
      "show_label": true,
      "line_height": "143%"
    },
    "table": {
      "header": {
        "useGlobalProperty": true,
        "bg_color": "#6f7e91",
        "borders": {
          "left": true,
          "top": true,
          "right": true,
          "bottom": true
        },
        "padding": {
          "left": "2",
          "right": "2"
        },
        "text_align": "left",
        "general": {
          "font_family": "Arial",
          "text_color": "#000000",
          "text_size": "12",
          "vertical_spacing": "1"
        }
      },
      "rows": {
        "useGlobalProperty": true,
        "bg_color": "#ffffff",
        "padding": {
          "left": "2",
          "right": "2"
        },
        "borders": {
          "left": true,
          "top": true,
          "right": true,
          "bottom": true
        },
        "text_align": "left",
        "override_alignment": false,
        "general": {
          "font_family": "Arial",
          "text_color": "#000000",
          "text_size": "12",
          "vertical_spacing": "1"
        }
      }
    }
  }
}    *ì                           ú¬