bplist00Ò^FormDefinition]PDFDefinition_L<?xml version="1.0" encoding="UTF-8"?>
<Form ID="611968" Name="Blank" Version="1" ImageID="" AllowEmail="2" Username="diego_builder@gocanvas.com" Status="published" ShowMenu="0"  MobileBuilderEnabled="false"  RemRecall="1" Editable="3" ParentID="611968" WorkflowId="" CompressionQuality="80" CompressionDimension="800">
  <Section ID="5833796" Name="New Section" Type="0">
    <Sheet ID="6008118" Name="New Section" Type="1" MultiSec="-1" AllowDuplicate="false" DisplayEntryID="" Style="0">
    </Sheet>
  </Section>
  <Departments>
    
  </Departments>
  <Folders>
  </Folders>
</Form>
_2Ï{
	"id": 6742,
	"form_id": 611968,
	"orientation": "Portrait",
	"creator_id": 3478,
	"size": "us-letter",
	"top_margin": 2,
	"right_margin": 2,
	"left_margin": 2,
	"bottom_margin": 2,
	"components": {
		"pages": [
			{
				"type": "PdfTemplatePage",
				"page_number": 1,
				"sections": [
					{
						"id": 140080,
						"width": 100,
						"selected": false,
						"columns": [
							{
								"id": 291980,
								"style": {
									"width": 100,
									"padding": {
										"top": "8",
										"right": "8",
										"bottom": "8",
										"left": "8"
									},
									"borders": {
										"direction": {
											"left": false,
											"top": false,
											"right": false,
											"bottom": false
										},
										"color": "#000000",
										"style": "solid",
										"width": "1"
									}
								},
								"resized": false,
								"modified": false,
								"width_lended": 0,
								"fields": [
									{
										"id": 1132415,
										"entry_type_id": 9999,
										"text": "New Section",
										"section_first_field_guid": "",
										"entry_guid": null,
										"entry_id": null,
										"properties": {
											"useGlobalProperty": true,
											"globalStyle": {
												"general": {
													"font_family": "Arial",
													"text_color": "#000000",
													"text_size": "12",
													"vertical_spacing": "1"
												},
												"fields": {
													"borders": {
														"left": false,
														"top": false,
														"right": false,
														"bottom": false
													},
													"show_label": true,
													"line_height": "143%"
												}
											},
											"localStyle": {
												"bg_color": "#ffffff",
												"font_style": "normal",
												"font_weight": "bold",
												"text_decoration": "none",
												"text_align": "left"
											},
											"link": ""
										}
									}
								]
							}
						],
						"properties": {}
					},
					{
						"id": 140081,
						"width": 100,
						"selected": false,
						"columns": [
							{
								"id": 291981,
								"style": {
									"width": 100,
									"padding": {
										"top": "8",
										"right": "8",
										"bottom": "8",
										"left": "8"
									},
									"borders": {
										"direction": {
											"left": false,
											"top": false,
											"right": false,
											"bottom": false
										},
										"color": "#000000",
										"style": "solid",
										"width": "1"
									}
								},
								"resized": false,
								"modified": false,
								"width_lended": 0,
								"fields": []
							}
						],
						"properties": {}
					}
				]
			}
		],
		"headers": [
			{
				"type": "PdfTemplateHeader",
				"page_number": null,
				"sections": [
					{
						"id": 140079,
						"width": 100,
						"selected": false,
						"columns": [
							{
								"id": 291977,
								"style": {
									"width": 18.97,
									"padding": {
										"top": "8",
										"right": "8",
										"bottom": "8",
										"left": "8"
									},
									"borders": {
										"direction": {
											"left": false,
											"top": false,
											"right": false,
											"bottom": false
										},
										"color": "#000000",
										"style": "solid",
										"width": "1"
									}
								},
								"resized": false,
								"modified": false,
								"width_lended": 0,
								"fields": [
									{
										"id": 1132409,
										"entry_type_id": 9997,
										"text": null,
										"entry_guid": null,
										"entry_id": null,
										"properties": {
											"useGlobalProperty": true,
											"globalStyle": {
												"general": {
													"font_family": "Arial",
													"text_color": "#000000",
													"text_size": "12",
													"vertical_spacing": "1"
												},
												"fields": {
													"borders": {
														"left": false,
														"top": false,
														"right": false,
														"bottom": false
													},
													"show_label": true,
													"line_height": "143%"
												}
											},
											"localStyle": {}
										}
									}
								]
							},
							{
								"id": 291978,
								"style": {
									"width": 62.06,
									"padding": {
										"top": "8",
										"right": "8",
										"bottom": "8",
										"left": "8"
									},
									"borders": {
										"direction": {
											"left": false,
											"top": false,
											"right": false,
											"bottom": false
										},
										"color": "#000000",
										"style": "solid",
										"width": "1"
									}
								},
								"resized": false,
								"modified": false,
								"width_lended": 0,
								"fields": [
									{
										"id": 1132410,
										"entry_type_id": 9999,
										"text": "Company Name<div>Address</div><div>City, State 12345</div>",
										"entry_guid": null,
										"entry_id": null,
										"properties": {
											"useGlobalProperty": true,
											"globalStyle": {
												"general": {
													"font_family": "Arial",
													"text_color": "#000000",
													"text_size": "12",
													"vertical_spacing": "1"
												},
												"fields": {
													"borders": {
														"left": false,
														"top": false,
														"right": false,
														"bottom": false
													},
													"show_label": true,
													"line_height": "143%"
												}
											},
											"localStyle": {
												"text_align": "center"
											},
											"link": ""
										}
									}
								]
							},
							{
								"id": 291979,
								"style": {
									"width": 18.97,
									"padding": {
										"top": "8",
										"right": "8",
										"bottom": "8",
										"left": "8"
									},
									"borders": {
										"direction": {
											"left": false,
											"top": false,
											"right": false,
											"bottom": false
										},
										"color": "#000000",
										"style": "solid",
										"width": "1"
									}
								},
								"resized": false,
								"modified": false,
								"width_lended": 0,
								"fields": [
									{
										"id": 1132411,
										"entry_type_id": 9999,
										"text": "Blank",
										"entry_guid": null,
										"entry_id": null,
										"properties": {
											"useGlobalProperty": true,
											"globalStyle": {
												"general": {
													"font_family": "Arial",
													"text_color": "#000000",
													"text_size": "12",
													"vertical_spacing": "1"
												},
												"fields": {
													"borders": {
														"left": false,
														"top": false,
														"right": false,
														"bottom": false
													},
													"show_label": true,
													"line_height": "143%"
												}
											},
											"localStyle": {
												"font_weight": "bold",
												"text_align": "right"
											},
											"link": ""
										}
									},
									{
										"id": 1132412,
										"entry_type_id": 9995,
										"text": "No.",
										"entry_guid": null,
										"entry_id": null,
										"properties": {
											"useGlobalProperty": true,
											"globalStyle": {
												"general": {
													"font_family": "Arial",
													"text_color": "#000000",
													"text_size": "12",
													"vertical_spacing": "1"
												},
												"fields": {
													"borders": {
														"left": false,
														"top": false,
														"right": false,
														"bottom": false
													},
													"show_label": true,
													"line_height": "143%"
												}
											},
											"localStyle": {
												"font_weight": "normal",
												"text_align": "right"
											}
										}
									}
								]
							}
						],
						"properties": {
							"height": "1.25"
						}
					}
				],
				"default_data": {
					"logo_url": "/company_images/2062",
					"app_name": "Blank",
					"header_info": "GoCanvas\n\n"
				}
			}
		],
		"footers": [
			{
				"type": "PdfTemplateFooter",
				"page_number": null,
				"sections": [
					{
						"id": 140082,
						"width": 100,
						"selected": false,
						"columns": [
							{
								"id": 291982,
								"style": {
									"width": 100,
									"padding": {
										"top": "8",
										"right": "8",
										"bottom": "8",
										"left": "8"
									},
									"borders": {
										"direction": {
											"left": false,
											"top": false,
											"right": false,
											"bottom": false
										},
										"color": "#000000",
										"style": "solid",
										"width": "1"
									}
								},
								"resized": false,
								"modified": false,
								"width_lended": 0,
								"fields": [
									{
										"id": 1132416,
										"entry_type_id": 9996,
										"text": "",
										"entry_guid": null,
										"entry_id": null,
										"properties": {
											"useGlobalProperty": true,
											"globalStyle": {
												"general": {
													"font_family": "Arial",
													"text_color": "#000000",
													"text_size": "12",
													"vertical_spacing": "1"
												},
												"fields": {
													"borders": {
														"left": false,
														"top": false,
														"right": false,
														"bottom": false
													},
													"show_label": true,
													"line_height": "143%"
												}
											},
											"localStyle": {
												"bg_color": "#ffffff",
												"font_style": "normal",
												"font_weight": "normal",
												"text_decoration": "none",
												"text_align": "right"
											},
											"links": [
												{
													"name": "Facebook",
													"placeholder": "Enter Facebook URL",
													"url": "https://www.facebook.com/pages/Canvas/247055383245?ref=mf",
													"isSelected": false
												},
												{
													"name": "Twitter",
													"placeholder": "Enter Twitter Handle",
													"url": "https://twitter.com/GoCanvas",
													"isSelected": false
												},
												{
													"name": "LinkedIn",
													"placeholder": "Enter LinkedIn URL",
													"url": "https://www.linkedin.com/company/canvas",
													"isSelected": false
												},
												{
													"name": "Angie's List",
													"placeholder": "Enter Angie's List URL",
													"url": "https://www.angieslist.com/",
													"isSelected": false
												},
												{
													"name": "Google Reviews",
													"placeholder": "Enter Google Reviews URL",
													"url": "https://www.google.com/",
													"isSelected": false
												},
												{
													"name": "Home Advisor",
													"placeholder": "Enter Home Advisor URL",
													"url": "http://www.homeadvisor.com/",
													"isSelected": false
												},
												{
													"name": "Yelp",
													"placeholder": "Enter Yelp URL",
													"url": "https://www.yelp.com/",
													"isSelected": false
												}
											]
										}
									}
								]
							}
						],
						"properties": {}
					}
				]
			}
		]
	},
	"global_properties": {
		"general": {
			"font_family": "Arial",
			"text_color": "#000000",
			"text_size": "12",
			"vertical_spacing": "1"
		},
		"column": {
			"padding": {
				"top": "8",
				"right": "8",
				"bottom": "8",
				"left": "8"
			},
			"borders": {
				"direction": {
					"left": false,
					"top": false,
					"right": false,
					"bottom": false
				},
				"color": "#000000",
				"style": "solid",
				"width": "1"
			},
			"bg_color": "#ffffff"
		},
		"fields": {
			"borders": {
				"left": false,
				"top": false,
				"right": false,
				"bottom": false
			},
			"show_label": true,
			"line_height": "143%"
		},
		"table": {
			"header": {
				"useGlobalProperty": true,
				"bg_color": "#6f7e91",
				"borders": {
					"left": true,
					"top": true,
					"right": true,
					"bottom": true
				},
				"padding": {
					"left": "2",
					"right": "2"
				},
				"text_align": "left",
				"general": {
					"font_family": "Arial",
					"text_color": "#000000",
					"text_size": "12",
					"vertical_spacing": "1"
				}
			},
			"rows": {
				"useGlobalProperty": true,
				"bg_color": "#ffffff",
				"padding": {
					"left": "2",
					"right": "2"
				},
				"borders": {
					"left": true,
					"top": true,
					"right": true,
					"bottom": true
				},
				"text_align": "left",
				"override_alignment": false,
				"general": {
					"font_family": "Arial",
					"text_color": "#000000",
					"text_size": "12",
					"vertical_spacing": "1"
				}
			}
		}
	}
}    *z                           5M