bplist00Ò^FormDefinition]PDFDefinition_ <?xml version="1.0" encoding="UTF-8"?>
<Form ID="611975" Name="Signatures" Version="1" ImageID="" AllowEmail="2" Username="diego_builder@gocanvas.com" Status="published" ShowMenu="0"  MobileBuilderEnabled="false"  RemRecall="1" Editable="3" ParentID="611975" WorkflowId="" CompressionQuality="80" CompressionDimension="800">
  <Section ID="5833806" Name="Signatures" Type="0">
    <Sheet ID="6008128" Name="Signatures" Type="1" MultiSec="-1" AllowDuplicate="false" DisplayEntryID="" Style="0">
      <Entry ID="40652317" Label="Customer Name" Length="" Min="" Max="" Default="" Required="false" Type="0" ReceiptLabel="" Mask="" SourceEntryId=""  RefDataID="" RefDataCol="" RefEntryID="" ReadOnly="false" Visible="true" Style="0" GPSTimeout="0" GPSAccuracy="0" GPSAccuracyRequired="" BarcodeEnabled="false" Guid = "AAF17D9CC9688BC34F48D283895DBE944873EF54">
      </Entry>
      <Entry ID="40652318" Label="Date" Length="" Min="" Max="" Default="" Required="false" Type="3" ReceiptLabel="" Mask="" SourceEntryId=""  RefDataID="" RefDataCol="" RefEntryID="" ReadOnly="false" Visible="true" Style="0" GPSTimeout="0" GPSAccuracy="0" GPSAccuracyRequired="" BarcodeEnabled="false" Guid = "61BDC78BC0BBD15C8396C913017BE978CAAAE725">
      </Entry>
      <Entry ID="40652319" Label="Customer Signature" Length="" Min="" Max="" Default="" Required="false" Type="99" ReceiptLabel="" Mask="" SourceEntryId=""  RefDataID="" RefDataCol="" RefEntryID="" ReadOnly="false" Visible="true" Style="-1" GPSTimeout="0" GPSAccuracy="0" GPSAccuracyRequired="" BarcodeEnabled="false" Guid = "DA9305293F644A94C372955F06B21F86DE0A980C">
      </Entry>
      <Entry ID="40652320" Label="Completed By" Length="" Min="" Max="" Default="" Required="false" Type="0" ReceiptLabel="" Mask="" SourceEntryId=""  RefDataID="" RefDataCol="" RefEntryID="" ReadOnly="false" Visible="true" Style="0" GPSTimeout="0" GPSAccuracy="0" GPSAccuracyRequired="" BarcodeEnabled="false" Guid = "44574798B309C0D28E87C47CC760562DC68628BA">
      </Entry>
      <Entry ID="40652321" Label="Date" Length="" Min="" Max="" Default="" Required="false" Type="3" ReceiptLabel="" Mask="" SourceEntryId=""  RefDataID="" RefDataCol="" RefEntryID="" ReadOnly="false" Visible="true" Style="0" GPSTimeout="0" GPSAccuracy="0" GPSAccuracyRequired="" BarcodeEnabled="false" Guid = "056ED14B7E4AA8CE4148572A92A2298C35A6B1A2">
      </Entry>
      <Entry ID="40652322" Label="Completed By" Length="" Min="" Max="" Default="" Required="false" Type="99" ReceiptLabel="" Mask="" SourceEntryId=""  RefDataID="" RefDataCol="" RefEntryID="" ReadOnly="false" Visible="true" Style="-1" GPSTimeout="0" GPSAccuracy="0" GPSAccuracyRequired="" BarcodeEnabled="false" Guid = "B505F1EEABE6D0D991E4EA04758A4133D85D9B63">
      </Entry>
    </Sheet>
  </Section>
  <Departments>
    
  </Departments>
  <Folders>
  </Folders>
</Form>
_?ª{
	"id": 6749,
	"form_id": 611975,
	"orientation": "Portrait",
	"creator_id": 3478,
	"size": "us-letter",
	"top_margin": 2,
	"right_margin": 2,
	"left_margin": 2,
	"bottom_margin": 2,
	"components": {
		"pages": [
			{
				"type": "PdfTemplatePage",
				"page_number": 1,
				"sections": [
					{
						"id": 140118,
						"width": 100,
						"selected": false,
						"columns": [
							{
								"id": 292049,
								"style": {
									"width": 100,
									"padding": {
										"top": "8",
										"right": "8",
										"bottom": "8",
										"left": "8"
									},
									"borders": {
										"direction": {
											"left": false,
											"top": false,
											"right": false,
											"bottom": false
										},
										"color": "#000000",
										"style": "solid",
										"width": "1"
									}
								},
								"resized": false,
								"modified": false,
								"width_lended": 0,
								"fields": [
									{
										"id": 1132670,
										"entry_type_id": 9999,
										"text": "Signatures",
										"entry_guid": null,
										"entry_id": null,
										"properties": {
											"pdfsection_screen_entry_guid": "AAF17D9CC9688BC34F48D283895DBE944873EF54",
											"useGlobalProperty": true,
											"globalStyle": {
												"general": {
													"font_family": "Arial",
													"text_color": "#000000",
													"text_size": "12",
													"vertical_spacing": "1"
												},
												"fields": {
													"borders": {
														"left": false,
														"top": false,
														"right": false,
														"bottom": false
													},
													"show_label": true,
													"line_height": "143%"
												}
											},
											"localStyle": {
												"bg_color": "#ffffff",
												"font_style": "normal",
												"font_weight": "bold",
												"text_decoration": "none",
												"text_align": "left"
											}
										}
									}
								]
							}
						],
						"properties": {}
					},
					{
						"id": 140119,
						"width": 100,
						"selected": false,
						"columns": [
							{
								"id": 292050,
								"style": {
									"width": 33.333,
									"padding": {
										"top": "8",
										"right": "8",
										"bottom": "8",
										"left": "8"
									},
									"borders": {
										"direction": {
											"left": false,
											"top": false,
											"right": false,
											"bottom": false
										},
										"color": "#000000",
										"style": "solid",
										"width": "1"
									}
								},
								"resized": false,
								"modified": false,
								"width_lended": 0,
								"fields": [
									{
										"id": 1132671,
										"entry_type_id": 0,
										"text": "Customer Name",
										"entry_guid": "AAF17D9CC9688BC34F48D283895DBE944873EF54",
										"entry_id": 40652317,
										"properties": {
											"useGlobalProperty": true,
											"globalStyle": {},
											"localStyle": {}
										}
									},
									{
										"id": 1132674,
										"entry_type_id": 0,
										"text": "Completed By",
										"entry_guid": "44574798B309C0D28E87C47CC760562DC68628BA",
										"entry_id": 40652320,
										"properties": {
											"useGlobalProperty": true,
											"globalStyle": {},
											"localStyle": {}
										}
									}
								]
							},
							{
								"id": 292051,
								"style": {
									"width": 33.333,
									"padding": {
										"top": "8",
										"right": "8",
										"bottom": "8",
										"left": "8"
									},
									"borders": {
										"direction": {
											"left": false,
											"top": false,
											"right": false,
											"bottom": false
										},
										"color": "#000000",
										"style": "solid",
										"width": "1"
									}
								},
								"resized": false,
								"modified": false,
								"width_lended": 0,
								"fields": [
									{
										"id": 1132677,
										"entry_type_id": 3,
										"text": "Date",
										"entry_guid": "61BDC78BC0BBD15C8396C913017BE978CAAAE725",
										"entry_id": 40652318,
										"properties": {
											"useGlobalProperty": true,
											"globalStyle": {},
											"localStyle": {}
										}
									},
									{
										"id": 1132680,
										"entry_type_id": 3,
										"text": "Date",
										"entry_guid": "056ED14B7E4AA8CE4148572A92A2298C35A6B1A2",
										"entry_id": 40652321,
										"properties": {
											"useGlobalProperty": true,
											"globalStyle": {},
											"localStyle": {}
										}
									}
								]
							},
							{
								"id": 292052,
								"style": {
									"width": 33.334,
									"padding": {
										"top": "8",
										"right": "8",
										"bottom": "8",
										"left": "8"
									},
									"borders": {
										"direction": {
											"left": false,
											"top": false,
											"right": false,
											"bottom": false
										},
										"color": "#000000",
										"style": "solid",
										"width": "1"
									}
								},
								"resized": false,
								"modified": false,
								"width_lended": 0,
								"fields": [
									{
										"id": 1132683,
										"entry_type_id": 99,
										"text": "Customer Signature",
										"entry_guid": "DA9305293F644A94C372955F06B21F86DE0A980C",
										"entry_id": 40652319,
										"properties": {
											"useGlobalProperty": true,
											"globalStyle": {},
											"localStyle": {}
										}
									},
									{
										"id": 1132686,
										"entry_type_id": 99,
										"text": "Completed By",
										"entry_guid": "B505F1EEABE6D0D991E4EA04758A4133D85D9B63",
										"entry_id": 40652322,
										"properties": {
											"useGlobalProperty": true,
											"globalStyle": {},
											"localStyle": {}
										}
									}
								]
							}
						],
						"properties": {}
					}
				]
			}
		],
		"headers": [
			{
				"type": "PdfTemplateHeader",
				"page_number": null,
				"sections": [
					{
						"id": 140117,
						"width": 100,
						"selected": false,
						"columns": [
							{
								"id": 292046,
								"style": {
									"width": 18.97,
									"padding": {
										"top": "8",
										"right": "8",
										"bottom": "8",
										"left": "8"
									},
									"borders": {
										"direction": {
											"left": false,
											"top": false,
											"right": false,
											"bottom": false
										},
										"color": "#000000",
										"style": "solid",
										"width": "1"
									}
								},
								"resized": false,
								"modified": false,
								"width_lended": 0,
								"fields": [
									{
										"id": 1132664,
										"entry_type_id": 9997,
										"text": null,
										"entry_guid": null,
										"entry_id": null,
										"properties": {
											"useGlobalProperty": true,
											"globalStyle": {
												"general": {
													"font_family": "Arial",
													"text_color": "#000000",
													"text_size": "12",
													"vertical_spacing": "1"
												},
												"fields": {
													"borders": {
														"left": false,
														"top": false,
														"right": false,
														"bottom": false
													},
													"show_label": true,
													"line_height": "143%"
												}
											},
											"localStyle": {}
										}
									}
								]
							},
							{
								"id": 292047,
								"style": {
									"width": 62.06,
									"padding": {
										"top": "8",
										"right": "8",
										"bottom": "8",
										"left": "8"
									},
									"borders": {
										"direction": {
											"left": false,
											"top": false,
											"right": false,
											"bottom": false
										},
										"color": "#000000",
										"style": "solid",
										"width": "1"
									}
								},
								"resized": false,
								"modified": false,
								"width_lended": 0,
								"fields": [
									{
										"id": 1132665,
										"entry_type_id": 9999,
										"text": "Company Name<div>Address</div><div>City, State 12345</div>",
										"entry_guid": null,
										"entry_id": null,
										"properties": {
											"useGlobalProperty": true,
											"globalStyle": {
												"general": {
													"font_family": "Arial",
													"text_color": "#000000",
													"text_size": "12",
													"vertical_spacing": "1"
												},
												"fields": {
													"borders": {
														"left": false,
														"top": false,
														"right": false,
														"bottom": false
													},
													"show_label": true,
													"line_height": "143%"
												}
											},
											"localStyle": {
												"text_align": "center"
											},
											"link": ""
										}
									}
								]
							},
							{
								"id": 292048,
								"style": {
									"width": 18.97,
									"padding": {
										"top": "8",
										"right": "8",
										"bottom": "8",
										"left": "8"
									},
									"borders": {
										"direction": {
											"left": false,
											"top": false,
											"right": false,
											"bottom": false
										},
										"color": "#000000",
										"style": "solid",
										"width": "1"
									}
								},
								"resized": false,
								"modified": false,
								"width_lended": 0,
								"fields": [
									{
										"id": 1132666,
										"entry_type_id": 9999,
										"text": "Signatures",
										"entry_guid": null,
										"entry_id": null,
										"properties": {
											"useGlobalProperty": true,
											"globalStyle": {
												"general": {
													"font_family": "Arial",
													"text_color": "#000000",
													"text_size": "12",
													"vertical_spacing": "1"
												},
												"fields": {
													"borders": {
														"left": false,
														"top": false,
														"right": false,
														"bottom": false
													},
													"show_label": true,
													"line_height": "143%"
												}
											},
											"localStyle": {
												"font_weight": "bold",
												"text_align": "right"
											},
											"link": ""
										}
									},
									{
										"id": 1132667,
										"entry_type_id": 9995,
										"text": "No.",
										"entry_guid": null,
										"entry_id": null,
										"properties": {
											"useGlobalProperty": true,
											"globalStyle": {
												"general": {
													"font_family": "Arial",
													"text_color": "#000000",
													"text_size": "12",
													"vertical_spacing": "1"
												},
												"fields": {
													"borders": {
														"left": false,
														"top": false,
														"right": false,
														"bottom": false
													},
													"show_label": true,
													"line_height": "143%"
												}
											},
											"localStyle": {
												"font_weight": "normal",
												"text_align": "right"
											}
										}
									}
								]
							}
						],
						"properties": {
							"height": "1.25"
						}
					}
				],
				"default_data": {
					"logo_url": "/company_images/2062",
					"app_name": "Signatures",
					"header_info": "GoCanvas\n\n"
				}
			}
		],
		"footers": [
			{
				"type": "PdfTemplateFooter",
				"page_number": null,
				"sections": [
					{
						"id": 140120,
						"width": 100,
						"selected": false,
						"columns": [
							{
								"id": 292053,
								"style": {
									"width": 100,
									"padding": {
										"top": "8",
										"right": "8",
										"bottom": "8",
										"left": "8"
									},
									"borders": {
										"direction": {
											"left": false,
											"top": false,
											"right": false,
											"bottom": false
										},
										"color": "#000000",
										"style": "solid",
										"width": "1"
									}
								},
								"resized": false,
								"modified": false,
								"width_lended": 0,
								"fields": [
									{
										"id": 1132689,
										"entry_type_id": 9996,
										"text": "",
										"entry_guid": null,
										"entry_id": null,
										"properties": {
											"useGlobalProperty": true,
											"globalStyle": {
												"general": {
													"font_family": "Arial",
													"text_color": "#000000",
													"text_size": "12",
													"vertical_spacing": "1"
												},
												"fields": {
													"borders": {
														"left": false,
														"top": false,
														"right": false,
														"bottom": false
													},
													"show_label": true,
													"line_height": "143%"
												}
											},
											"localStyle": {
												"bg_color": "#ffffff",
												"font_style": "normal",
												"font_weight": "normal",
												"text_decoration": "none",
												"text_align": "right"
											},
											"links": [
												{
													"name": "Facebook",
													"placeholder": "Enter Facebook URL",
													"url": "https://www.facebook.com/pages/Canvas/247055383245?ref=mf",
													"isSelected": false
												},
												{
													"name": "Twitter",
													"placeholder": "Enter Twitter Handle",
													"url": "https://twitter.com/GoCanvas",
													"isSelected": false
												},
												{
													"name": "LinkedIn",
													"placeholder": "Enter LinkedIn URL",
													"url": "https://www.linkedin.com/company/canvas",
													"isSelected": false
												},
												{
													"name": "Angie's List",
													"placeholder": "Enter Angie's List URL",
													"url": "https://www.angieslist.com/",
													"isSelected": false
												},
												{
													"name": "Google Reviews",
													"placeholder": "Enter Google Reviews URL",
													"url": "https://www.google.com/",
													"isSelected": false
												},
												{
													"name": "Home Advisor",
													"placeholder": "Enter Home Advisor URL",
													"url": "http://www.homeadvisor.com/",
													"isSelected": false
												},
												{
													"name": "Yelp",
													"placeholder": "Enter Yelp URL",
													"url": "https://www.yelp.com/",
													"isSelected": false
												}
											]
										}
									}
								]
							}
						],
						"properties": {}
					}
				]
			}
		]
	},
	"global_properties": {
		"general": {
			"font_family": "Arial",
			"text_color": "#000000",
			"text_size": "12",
			"vertical_spacing": "1"
		},
		"column": {
			"padding": {
				"top": "8",
				"right": "8",
				"bottom": "8",
				"left": "8"
			},
			"borders": {
				"direction": {
					"left": false,
					"top": false,
					"right": false,
					"bottom": false
				},
				"color": "#000000",
				"style": "solid",
				"width": "1"
			},
			"bg_color": "#ffffff"
		},
		"fields": {
			"borders": {
				"left": false,
				"top": false,
				"right": false,
				"bottom": false
			},
			"show_label": true,
			"line_height": "143%"
		},
		"table": {
			"header": {
				"useGlobalProperty": true,
				"bg_color": "#6f7e91",
				"borders": {
					"left": true,
					"top": true,
					"right": true,
					"bottom": true
				},
				"padding": {
					"left": "2",
					"right": "2"
				},
				"text_align": "left",
				"general": {
					"font_family": "Arial",
					"text_color": "#000000",
					"text_size": "12",
					"vertical_spacing": "1"
				}
			},
			"rows": {
				"useGlobalProperty": true,
				"bg_color": "#ffffff",
				"padding": {
					"left": "2",
					"right": "2"
				},
				"borders": {
					"left": true,
					"top": true,
					"right": true,
					"bottom": true
				},
				"text_align": "left",
				"override_alignment": false,
				"general": {
					"font_family": "Arial",
					"text_color": "#000000",
					"text_size": "12",
					"vertical_spacing": "1"
				}
			}
		}
	}
}    *N                           Jü