bplist00Ò^FormDefinition]PDFDefinition_
W<?xml version="1.0" encoding="UTF-8"?>
            <Form ID="612595" Name="Work Completed" Version="3" ImageID="" AllowEmail="2" Username="diego_builder@gocanvas.com" Status="published" ShowMenu="0"  MobileBuilderEnabled="false"  RemRecall="1" Editable="3" ParentID="611977" WorkflowId="" CompressionQuality="80" CompressionDimension="800">
            <Section ID="5836548" Name="Work Completed" Type="0">
            <Sheet ID="6010872" Name="Work Completed" Type="3" MultiSec="5836549" AllowDuplicate="false" DisplayEntryID="" Style="1">
            <Entry ID="40663766" Label="Work Description" Length="" Min="" Max="" Default="" Required="false" Type="0" ReceiptLabel="" Mask="" SourceEntryId=""  RefDataID="" RefDataCol="" RefEntryID="" ReadOnly="false" Visible="true" Style="0" GPSTimeout="0" GPSAccuracy="0" GPSAccuracyRequired="" BarcodeEnabled="false" Guid="D6A3D42383DEC8681E8E0BADA5DE8994DC92D13F">
            </Entry>
            </Sheet>
            </Section>
            <Section ID="5836549" Name="Work Completed (Detail)" Type="1">
            <Sheet ID="6010871" Name="Work Description" Type="1" MultiSec="-1" AllowDuplicate="false" DisplayEntryID="" Style="0">
            <Entry ID="40663763" Label="Hours of Labor" Length="" Min="" Max="" Default="" Required="false" Type="1" ReceiptLabel="" Mask="0" SourceEntryId=""  RefDataID="" RefDataCol="" RefEntryID="" ReadOnly="false" Visible="true" Style="0" GPSTimeout="0" GPSAccuracy="0" GPSAccuracyRequired="" BarcodeEnabled="false" Guid="5AE722B578C40AB1F963390E79E978B62EB09270">
            </Entry>
            <Entry ID="40663764" Label="Rate" Length="" Min="" Max="" Default="" Required="false" Type="2" ReceiptLabel="" Mask="2" SourceEntryId=""  RefDataID="" RefDataCol="" RefEntryID="" ReadOnly="false" Visible="true" Style="4" GPSTimeout="0" GPSAccuracy="0" GPSAccuracyRequired="" BarcodeEnabled="false" Guid="1909A0D8C617EE817445738FCB89D3976C0D5471">
            </Entry>
            <Entry ID="40663765" Label="Labor Total" Length="" Min="" Max="" Default="" Required="false" Type="21" ReceiptLabel="" Mask="2" SourceEntryId=""  RefDataID="" RefDataCol="" RefEntryID="" ReadOnly="false" Visible="true" Style="0" GPSTimeout="0" GPSAccuracy="0" GPSAccuracyRequired="" BarcodeEnabled="false" Guid="27CF5ED63884BA97B7474F6D6163843EEAC8E593">
            <Operator EntryId="40663763" Value="" OperationId="0"/>
            <Operator EntryId="40663764" Value="" OperationId="3"/>
            </Entry>
            </Sheet>
            </Section>
            <Departments>

            </Departments>
            <Folders>
            </Folders>
            </Form>
        _]ó{
            "id": 6751,
            "form_id": 611977,
            "orientation": "Portrait",
            "creator_id": 3478,
            "size": "us-letter",
            "top_margin": 2,
            "right_margin": 2,
            "left_margin": 2,
            "bottom_margin": 2,
            "components": {
            "pages": [{
            "type": "PdfTemplatePage",
            "page_number": 1,
            "sections": [{
            "id": 140931,
            "width": 100,
            "selected": false,
            "columns": [{
            "id": 293498,
            "style": {
            "width": 100
            },
            "resized": false,
            "modified": false,
            "width_lended": 0,
            "fields": [{
            "entry_type_id": 9998,
            "text": "Work Completed",
            "value": {
            "type": "table",
            "entry_guid": "D6A3D42383DEC8681E8E0BADA5DE8994DC92D13F",
            "columns": [{
            "headerText": "Work Description",
            "values": [{
            "entry_type_id": 0,
            "text": "Work Description",
            "entry_guid": "D6A3D42383DEC8681E8E0BADA5DE8994DC92D13F",
            "entry_id": 40652329,
            "properties": {
            "useGlobalProperty": false,
            "globalStyle": {
            "general": {
            "font_family": "Helvetica",
            "text_color": "#000000",
            "text_size": "12",
            "vertical_spacing": "1"
            },
            "column": {
            "padding": {
            "top": "8",
            "right": "8",
            "bottom": "8",
            "left": "8"
            },
            "borders": {
            "direction": {
            "left": false,
            "top": false,
            "right": false,
            "bottom": false
            },
            "color": "#000000",
            "style": "solid",
            "width": "1"
            },
            "bg_color": "#ffffff"
            },
            "fields": {
            "borders": {
            "left": false,
            "top": false,
            "right": false,
            "bottom": false
            },
            "show_label": false,
            "line_height": "143%"
            },
            "table": {
            "header": {
            "useGlobalProperty": true,
            "bg_color": "#6f7e91",
            "borders": {
            "left": true,
            "top": true,
            "right": true,
            "bottom": true
            },
            "padding": {
            "left": "2",
            "right": "2"
            },
            "text_align": "center",
            "general": {
            "font_family": "Helvetica",
            "text_color": "#000000",
            "text_size": "12",
            "vertical_spacing": "1"
            }
            },
            "rows": {
            "useGlobalProperty": true,
            "bg_color": "#ffffff",
            "padding": {
            "left": "2",
            "right": "2"
            },
            "borders": {
            "left": true,
            "top": true,
            "right": true,
            "bottom": true
            },
            "text_align": "left",
            "override_alignment": false,
            "general": {
            "font_family": "Helvetica",
            "text_color": "#000000",
            "text_size": "12",
            "vertical_spacing": "1"
            }
            }
            }
            }
            }
            }],
            "width": 342,
            "resized": true
            }, {
            "headerText": "Hours of Labor",
            "values": [{
            "entry_type_id": 1,
            "text": "Hours of Labor",
            "entry_guid": "5AE722B578C40AB1F963390E79E978B62EB09270",
            "entry_id": 40652330,
            "properties": {
            "useGlobalProperty": false,
            "globalStyle": {
            "general": {
            "font_family": "Helvetica",
            "text_color": "#000000",
            "text_size": "12",
            "vertical_spacing": "1"
            },
            "column": {
            "padding": {
            "top": "8",
            "right": "8",
            "bottom": "8",
            "left": "8"
            },
            "borders": {
            "direction": {
            "left": false,
            "top": false,
            "right": false,
            "bottom": false
            },
            "color": "#000000",
            "style": "solid",
            "width": "1"
            },
            "bg_color": "#ffffff"
            },
            "fields": {
            "borders": {
            "left": false,
            "top": false,
            "right": false,
            "bottom": false
            },
            "show_label": false,
            "line_height": "143%"
            },
            "table": {
            "header": {
            "useGlobalProperty": true,
            "bg_color": "#6f7e91",
            "borders": {
            "left": true,
            "top": true,
            "right": true,
            "bottom": true
            },
            "padding": {
            "left": "2",
            "right": "2"
            },
            "text_align": "center",
            "general": {
            "font_family": "Helvetica",
            "text_color": "#000000",
            "text_size": "12",
            "vertical_spacing": "1"
            }
            },
            "rows": {
            "useGlobalProperty": true,
            "bg_color": "#ffffff",
            "padding": {
            "left": "2",
            "right": "2"
            },
            "borders": {
            "left": true,
            "top": true,
            "right": true,
            "bottom": true
            },
            "text_align": "left",
            "override_alignment": false,
            "general": {
            "font_family": "Helvetica",
            "text_color": "#000000",
            "text_size": "12",
            "vertical_spacing": "1"
            }
            }
            }
            }
            }
            }],
            "width": 88,
            "resized": true
            }, {
            "headerText": "Rate",
            "values": [{
            "entry_type_id": 2,
            "text": "Rate",
            "entry_guid": "1909A0D8C617EE817445738FCB89D3976C0D5471",
            "entry_id": 40652331,
            "properties": {
            "useGlobalProperty": false,
            "globalStyle": {
            "general": {
            "font_family": "Helvetica",
            "text_color": "#000000",
            "text_size": "12",
            "vertical_spacing": "1"
            },
            "column": {
            "padding": {
            "top": "8",
            "right": "8",
            "bottom": "8",
            "left": "8"
            },
            "borders": {
            "direction": {
            "left": false,
            "top": false,
            "right": false,
            "bottom": false
            },
            "color": "#000000",
            "style": "solid",
            "width": "1"
            },
            "bg_color": "#ffffff"
            },
            "fields": {
            "borders": {
            "left": false,
            "top": false,
            "right": false,
            "bottom": false
            },
            "show_label": false,
            "line_height": "143%"
            },
            "table": {
            "header": {
            "useGlobalProperty": true,
            "bg_color": "#6f7e91",
            "borders": {
            "left": true,
            "top": true,
            "right": true,
            "bottom": true
            },
            "padding": {
            "left": "2",
            "right": "2"
            },
            "text_align": "center",
            "general": {
            "font_family": "Helvetica",
            "text_color": "#000000",
            "text_size": "12",
            "vertical_spacing": "1"
            }
            },
            "rows": {
            "useGlobalProperty": true,
            "bg_color": "#ffffff",
            "padding": {
            "left": "2",
            "right": "2"
            },
            "borders": {
            "left": true,
            "top": true,
            "right": true,
            "bottom": true
            },
            "text_align": "left",
            "override_alignment": false,
            "general": {
            "font_family": "Helvetica",
            "text_color": "#000000",
            "text_size": "12",
            "vertical_spacing": "1"
            }
            }
            }
            }
            }
            }],
            "width": 71,
            "resized": true
            }, {
            "headerText": "Labor Total",
            "values": [{
            "entry_type_id": 21,
            "text": "Labor Total",
            "entry_guid": "27CF5ED63884BA97B7474F6D6163843EEAC8E593",
            "entry_id": 40652332,
            "properties": {
            "useGlobalProperty": false,
            "globalStyle": {
            "general": {
            "font_family": "Helvetica",
            "text_color": "#000000",
            "text_size": "12",
            "vertical_spacing": "1"
            },
            "column": {
            "padding": {
            "top": "8",
            "right": "8",
            "bottom": "8",
            "left": "8"
            },
            "borders": {
            "direction": {
            "left": false,
            "top": false,
            "right": false,
            "bottom": false
            },
            "color": "#000000",
            "style": "solid",
            "width": "1"
            },
            "bg_color": "#ffffff"
            },
            "fields": {
            "borders": {
            "left": false,
            "top": false,
            "right": false,
            "bottom": false
            },
            "show_label": false,
            "line_height": "143%"
            },
            "table": {
            "header": {
            "useGlobalProperty": true,
            "bg_color": "#6f7e91",
            "borders": {
            "left": true,
            "top": true,
            "right": true,
            "bottom": true
            },
            "padding": {
            "left": "2",
            "right": "2"
            },
            "text_align": "center",
            "general": {
            "font_family": "Helvetica",
            "text_color": "#000000",
            "text_size": "12",
            "vertical_spacing": "1"
            }
            },
            "rows": {
            "useGlobalProperty": true,
            "bg_color": "#ffffff",
            "padding": {
            "left": "2",
            "right": "2"
            },
            "borders": {
            "left": true,
            "top": true,
            "right": true,
            "bottom": true
            },
            "text_align": "left",
            "override_alignment": false,
            "general": {
            "font_family": "Helvetica",
            "text_color": "#000000",
            "text_size": "12",
            "vertical_spacing": "1"
            }
            }
            }
            }
            }
            }],
            "width": 95
            }],
            "properties": {
            "response_groups": true
            }
            },
            "entry_guid": null,
            "properties": {
            "globalStyle": {
            "table": {
            "rows": {
            "useGlobalProperty": true,
            "bg_color": "#ffffff",
            "padding": {
            "left": "2",
            "right": "2"
            },
            "borders": {
            "left": true,
            "top": true,
            "right": true,
            "bottom": true
            },
            "text_align": "left",
            "override_alignment": false,
            "general": {
            "font_family": "Arial",
            "text_color": "#000000",
            "text_size": "12",
            "vertical_spacing": "1"
            }
            },
            "header": {
            "useGlobalProperty": true,
            "bg_color": "#6f7e91",
            "borders": {
            "left": true,
            "top": true,
            "right": true,
            "bottom": true
            },
            "padding": {
            "left": "2",
            "right": "2"
            },
            "text_align": "left",
            "general": {
            "font_family": "Arial",
            "text_color": "#000000",
            "text_size": "12",
            "vertical_spacing": "1"
            }
            }
            }
            }
            }
            }]
            }],
            "properties": {
            "list": true
            }
            }]
            }],
            "headers": [{
            "type": "PdfTemplateHeader",
            "page_number": null,
            "sections": [{
            "id": 140930,
            "width": 100,
            "selected": false,
            "columns": [{
            "id": 293495,
            "style": {
            "width": 18.97,
            "padding": {
            "top": "8",
            "right": "8",
            "bottom": "8",
            "left": "8"
            },
            "borders": {
            "direction": {
            "left": false,
            "top": false,
            "right": false,
            "bottom": false
            },
            "color": "#000000",
            "style": "solid",
            "width": "1"
            }
            },
            "resized": false,
            "modified": false,
            "width_lended": 0,
            "fields": [{
            "id": 1140192,
            "entry_type_id": 9997,
            "text": null,
            "entry_guid": null,
            "entry_id": null,
            "properties": {
            "useGlobalProperty": true,
            "globalStyle": {
            "general": {
            "font_family": "Arial",
            "text_color": "#000000",
            "text_size": "12",
            "vertical_spacing": "1"
            },
            "fields": {
            "borders": {
            "left": false,
            "top": false,
            "right": false,
            "bottom": false
            },
            "show_label": true,
            "line_height": "143%"
            }
            },
            "localStyle": {},
            "link": ""
            }
            }]
            }, {
            "id": 293496,
            "style": {
            "width": 62.06,
            "padding": {
            "top": "8",
            "right": "8",
            "bottom": "8",
            "left": "8"
            },
            "borders": {
            "direction": {
            "left": false,
            "top": false,
            "right": false,
            "bottom": false
            },
            "color": "#000000",
            "style": "solid",
            "width": "1"
            }
            },
            "resized": false,
            "modified": false,
            "width_lended": 0,
            "fields": [{
            "id": 1140193,
            "entry_type_id": 9999,
            "text": "Company Name<div>Address</div><div>City, State 12345</div>",
            "entry_guid": null,
            "entry_id": null,
            "properties": {
            "useGlobalProperty": true,
            "globalStyle": {
            "general": {
            "font_family": "Arial",
            "text_color": "#000000",
            "text_size": "12",
            "vertical_spacing": "1"
            },
            "fields": {
            "borders": {
            "left": false,
            "top": false,
            "right": false,
            "bottom": false
            },
            "show_label": true,
            "line_height": "143%"
            }
            },
            "localStyle": {
            "text_align": "center"
            },
            "link": ""
            }
            }]
            }, {
            "id": 293497,
            "style": {
            "width": 18.97,
            "padding": {
            "top": "8",
            "right": "8",
            "bottom": "8",
            "left": "8"
            },
            "borders": {
            "direction": {
            "left": false,
            "top": false,
            "right": false,
            "bottom": false
            },
            "color": "#000000",
            "style": "solid",
            "width": "1"
            }
            },
            "resized": false,
            "modified": false,
            "width_lended": 0,
            "fields": [{
            "id": 1140194,
            "entry_type_id": 9999,
            "text": "Work Completed",
            "entry_guid": null,
            "entry_id": null,
            "properties": {
            "useGlobalProperty": true,
            "globalStyle": {
            "general": {
            "font_family": "Arial",
            "text_color": "#000000",
            "text_size": "12",
            "vertical_spacing": "1"
            },
            "fields": {
            "borders": {
            "left": false,
            "top": false,
            "right": false,
            "bottom": false
            },
            "show_label": true,
            "line_height": "143%"
            }
            },
            "localStyle": {
            "font_weight": "bold",
            "text_align": "right"
            },
            "link": ""
            }
            }, {
            "id": 1140195,
            "entry_type_id": 9995,
            "text": "No.",
            "entry_guid": null,
            "entry_id": null,
            "properties": {
            "useGlobalProperty": true,
            "globalStyle": {
            "general": {
            "font_family": "Arial",
            "text_color": "#000000",
            "text_size": "12",
            "vertical_spacing": "1"
            },
            "fields": {
            "borders": {
            "left": false,
            "top": false,
            "right": false,
            "bottom": false
            },
            "show_label": true,
            "line_height": "143%"
            }
            },
            "localStyle": {
            "font_weight": "normal",
            "text_align": "right"
            }
            }
            }]
            }],
            "properties": {
            "height": "1.25"
            }
            }],
            "default_data": {
            "logo_url": "/company_images/2062",
            "app_name": "Work Description",
            "header_info": "GoCanvas\n\n"
            }
            }],
            "footers": [{
            "type": "PdfTemplateFooter",
            "page_number": null,
            "sections": [{
            "id": 140932,
            "width": 100,
            "selected": false,
            "columns": [{
            "id": 293499,
            "style": {
            "width": 100,
            "padding": {
            "top": "8",
            "right": "8",
            "bottom": "8",
            "left": "8"
            },
            "borders": {
            "direction": {
            "left": false,
            "top": false,
            "right": false,
            "bottom": false
            },
            "color": "#000000",
            "style": "solid",
            "width": "1"
            }
            },
            "resized": false,
            "modified": false,
            "width_lended": 0,
            "fields": [{
            "id": 1140213,
            "entry_type_id": 9996,
            "text": "",
            "entry_guid": null,
            "entry_id": null,
            "properties": {
            "useGlobalProperty": true,
            "globalStyle": {
            "general": {
            "font_family": "Arial",
            "text_color": "#000000",
            "text_size": "12",
            "vertical_spacing": "1"
            },
            "fields": {
            "borders": {
            "left": false,
            "top": false,
            "right": false,
            "bottom": false
            },
            "show_label": true,
            "line_height": "143%"
            }
            },
            "localStyle": {
            "bg_color": "#ffffff",
            "font_style": "normal",
            "font_weight": "normal",
            "text_decoration": "none",
            "text_align": "right"
            },
            "links": [{
            "name": "Facebook",
            "placeholder": "Enter Facebook URL",
            "url": "https://www.facebook.com/pages/Canvas/247055383245?ref=mf",
            "isSelected": false
            }, {
            "name": "Twitter",
            "placeholder": "Enter Twitter Handle",
            "url": "https://twitter.com/GoCanvas",
            "isSelected": false
            }, {
            "name": "LinkedIn",
            "placeholder": "Enter LinkedIn URL",
            "url": "https://www.linkedin.com/company/canvas",
            "isSelected": false
            }, {
            "name": "Angie's List",
            "placeholder": "Enter Angie's List URL",
            "url": "https://www.angieslist.com/",
            "isSelected": false
            }, {
            "name": "Google Reviews",
            "placeholder": "Enter Google Reviews URL",
            "url": "https://www.google.com/",
            "isSelected": false
            }, {
            "name": "Home Advisor",
            "placeholder": "Enter Home Advisor URL",
            "url": "http://www.homeadvisor.com/",
            "isSelected": false
            }, {
            "name": "Yelp",
            "placeholder": "Enter Yelp URL",
            "url": "https://www.yelp.com/",
            "isSelected": false
            }]
            }
            }]
            }],
            "properties": {}
            }]
            }]
            },
            "global_properties": {
            "general": {
            "font_family": "Arial",
            "text_color": "#000000",
            "text_size": "12",
            "vertical_spacing": "1"
            },
            "column": {
            "padding": {
            "top": "8",
            "right": "8",
            "bottom": "8",
            "left": "8"
            },
            "borders": {
            "direction": {
            "left": false,
            "top": false,
            "right": false,
            "bottom": false
            },
            "color": "#000000",
            "style": "solid",
            "width": "1"
            },
            "bg_color": "#ffffff"
            },
            "fields": {
            "borders": {
            "left": false,
            "top": false,
            "right": false,
            "bottom": false
            },
            "show_label": true,
            "line_height": "143%"
            },
            "table": {
            "header": {
            "useGlobalProperty": true,
            "bg_color": "#6f7e91",
            "borders": {
            "left": true,
            "top": true,
            "right": true,
            "bottom": true
            },
            "padding": {
            "left": "2",
            "right": "2"
            },
            "text_align": "left",
            "general": {
            "font_family": "Arial",
            "text_color": "#000000",
            "text_size": "12",
            "vertical_spacing": "1"
            }
            },
            "rows": {
            "useGlobalProperty": true,
            "bg_color": "#ffffff",
            "padding": {
            "left": "2",
            "right": "2"
            },
            "borders": {
            "left": true,
            "top": true,
            "right": true,
            "bottom": true
            },
            "text_align": "left",
            "override_alignment": false,
            "general": {
            "font_family": "Arial",
            "text_color": "#000000",
            "text_size": "12",
            "vertical_spacing": "1"
            }
            }
            }
            }
            }    *
…                           h|